.recommendation-page {
 
  background-size: cover;
  padding: 20px;
  text-align: center;
}

.recommendation-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.highlight {
  color: blue;
  font-size: 28px; /* 강조 텍스트의 크기 증가 */
}

.recommendation-list {
  display: flex;
  justify-content: center;
  gap: 20px; /* 카드 간격 조정 */
  overflow-x: auto;
}

.recommendation-item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px; /* 카드 너비 증가 */
  height: 500px; /* 카드 높이 추가 */
  transition: transform 0.3s ease;
}

.recommendation-item:hover {
  transform: translateY(-10px);
}

.recommendation-image-container {
  position: relative;
}

.recommendation-image {
  width: 100%;
  height: 60%; /* 이미지 높이 설정 */
  object-fit: cover; /* 이미지 크기 조정 */
}

.recommendation-details {
  padding: 10px;
}

.more-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.more-button:hover {
  background-color: #0056b3;
}
