.MyPerformances {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.MyPerformances-container {
  display: flex;
  flex: 1;
  background-color: #f8f9fa;
  margin-top: 60px;
}

.MyPerformances-content {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.MyPerformances-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.MyPerformances-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* 중앙 정렬 */
}

.MyPerformances-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px; /* 아이템 최대 너비 */
  flex: 1 1 calc(33.33% - 40px); /* 가로로 3개씩 배치 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyPerformances-item img {
  width: 100%;
  height: auto;
  max-width: 200px; /* 이미지의 최대 너비를 설정하여 크기 조정 */
  border-radius: 10px;
}

.MyPerformances-item h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.MyPerformances-item p {
  margin: 5px 0;
}

.MyPerformances-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.EditButton, .DeleteButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.DeleteButton {
  background-color: #007bff;
}

.EditButton:hover {
  background-color: #0056b3;
}

.DeleteButton:hover {
  background-color: #007bff;
}
