* {
  font-family: "Gothic A1", sans-serif;
}


.banner {
  position: relative;
  height: 50vh;
  overflow: hidden; 
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
 
}

.banner-text {
  position: absolute;
  bottom: 0;
  right: 0; 
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 20px;
  text-align: right;
  border-radius: 10px;
}


.features, .home, .concerts, .analysis {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.features h2, .home h2, .concerts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.icons, .post-list, .concert-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icon-container, .post-item, .concert-card {
  flex: 1;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 180px; 
  height: 180px; 
  font-size: 80px; 
  box-sizing: border-box;
  border-radius: 10px;
  margin: 30px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: background-color 0.3s;
  overflow: hidden;
}

.icon:hover {
  background-color: #e0e0e0;
  
}

.icon span {
  font-size: 60px; 
}

.icon-label {
  margin-top: 5px;
  font-size: 20px; 
  font-weight: bold;
  color: #333;
}

.home .recruitment-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 10px;
}

.home .recruitment-button.active {
  background-color: rgb(121, 186, 242);
  color: #fff;
}

.home .recruitment-button:hover {
  background-color: rgb(121, 186, 242);
  color: #fff;
}


.home .introduction-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  margin-right: 10px;
}

.home .introduction-button.active {
  background-color:rgb(121, 186, 242);
  color: #fff;
}

.home .introduction-button:hover {
  background-color: rgb(121, 186, 242);
  color: #fff;
}

.post-list {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  margin-left: -10px; 
  margin-right: -10px; 
}

.post-item {
  flex: 1 0 calc(33.33% - 20px); 
  padding: 20px;
  border: 1px solid rgb(121, 186, 242);;
  border-radius: 5px;
  text-align: center; 
  height: 200px; 
}
  
.recruitment-button, .introduction-button {
  margin-right: 10px; 
}

.post-item:hover {
  background-color: rgb(121, 186, 242);;
}

.post-box h3 {
  margin-bottom: 20px; 
}

.post-box p {
  margin-top: 20px; 
}
.post-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgb(121, 186, 242);;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  background-color: rgb(121, 186, 242);;
}

.concerts {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.concerts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.concert-cards {
  display: flex;
  flex-direction: row; /* 이 부분을 추가하여 수평으로 정렬시킴! */
  flex-wrap: wrap;
  gap: 20px;
}

.concert-card {
  flex: 1 0 calc(25% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.concert-card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.concert-card h3 {
  margin-top: 10px;
}

.concert-card p {
  margin-top: 10px;
}

.analysis h2 {
  font-size: 27px;
  margin-bottom: 14px;
}

.analysis {
  display: flex;
  align-items: center; /* 요소들을 세로로 정렬 */
}

.analysis p {
  font-size: 14px;
  margin-bottom: 10px;
}

.analysis button {
  margin-top: 10px;
  padding: 8px 8px;
  font-size: 14px;
  background-color: rgb(121, 186, 242);;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.analysis button:hover {
  background-color: rgb(121, 186, 242);;
}

.images {
  margin-left: auto;
}

.images img {
  max-width: 100%; 
}

.footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.footer .social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.posts button,
.concerts button {
  display: inline-block; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px; 
}

.posts button:hover,
.concerts button:hover {
  background-color: #45a049;
}
